<div class="container">
  <h5 class="text-center">Do your friends use reddit?</h5>
  <p>
    Mine don't. shareddit is designed to help you share reddit posts and
    comments, when the people you want to share with don't know how to use
    reddit.
  </p>
  <h5 class="text-center">Images are easy to share</h5>
  <p>
    But sometimes it's hard to get everything into a screenshot. shareddit does
    the tedious work for you, by turning the reddit post (and possibly its
    comments) into a perfectly rendered and artifact-free PNG image.
  </p>
  <h5 class="text-center">How do I use it?</h5>
  <p></p>
</div>
